// PLACE VARIABLES HERE IF YOU WISH. IT IS A GOOD PRACTICE TO DECLARE YOUR VARIABLES IN ONE PLACE. YOU DO NOT HAVE TO, BUT IT COULD MAKE THINGS EASIER FOR YOU.

// END VARIABLES

html, body {
    height: 100%;
    min-height: 100vh;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
    cursor: pointer;
}

#noaa-wrap {
    display: block;
    min-height: 100vh;
    position: relative;
}

// YOU CAN DECLARE REUSABLE CLASSES HERE
